<h1>Estou no curso de {{ curso }} da escola {{ escola }}</h1>

Soma {{ 5 + 8 }}
<br>
String: {{ "valor via string" }}

<h2>Dados do post</h2>
Título: {{ post.titulo }}<br>
Conteúdo: {{ post.conteudo }}<br>
Data: {{ post.data }}


<br>
Código: {{ codigo }}

{# isso é um comentário do twig #}

<!-- isso é um comentário html -->